{% extends 'base.html.twig' %}

{% block title %}Accueil - Rotten Potatoes{% endblock %}

{% block body %}

    <div class="main-banner">
        <h1 class="mb-5 title">Bienvenue sur Rotten Potatoes, prenez place !</h1>
        <a href="#movies" class="font-weight-bold btn btn-danger btn-action">Let's go !</a>
    </div>

    <section id="movies" class="pt-5">
        <h2 class="mt-5 mb-3">Les 3 derniers films sortis</h2>
        {% include 'movie/_movie-card-complete.html.twig' with {'movies': lastMovies} %}

        <h2 class="mt-5 mb-3">Les 3 meilleurs films</h2>
        {% include 'movie/_movie-card-complete.html.twig' with {'movies': bestMovies} %}

        <h2 class="mt-5 mb-3">Les 3 pires films</h2>
        {% include 'movie/_movie-card-complete.html.twig' with {'movies': worstMovies} %}
    </section>

    <section class="my-3" id="categories">
        <h2 class="mb-2">Catégories</h2>
        {% for category in categories %}
            <a class="btn btn-sm btn-primary mb-1" href="{{ path('category', {'slug': category.slug}) }}">{{ category.title }} ({{ category.movies | length }})</a>
        {% endfor %}
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://kit.fontawesome.com/09c0563430.js"></script>
{% endblock %}
