<footer class="bg-primary mt-auto">
    <div class="container">
        <div class="row">
            <p class="mb-0 col-lg-6 text-lg-left text-center">Ce projet a été réalisé dans le cadre d'une formation</p>
            <p class="mb-0 col-lg-6 text-lg-right text-center">Copyright © {{ 'now' | date('Y') }} Tous droits réservés</p>
        </div>
    </div>
</footer>
