<!DOCTYPE html>
<html class="h-100">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('img/favicon.png') }}" type="image/png">
        {% block stylesheets %}
            <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
        {% endblock %}
    </head>
    <body class="d-flex flex-column h-100 {{ bodyClasses | default('') }}">
        {% include '_navbar.html.twig' %}

        <div class="container">
            {% block body %}{% endblock %}
        </div>

        {% include '_footer.html.twig' %}

        {% block javascripts %}
            <script
                    src="https://code.jquery.com/jquery-3.4.1.min.js"
                    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
                    crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
            {#<script src="https://kit.fontawesome.com/09c0563430.js"></script>#}
        {% endblock %}
    </body>
</html>
